body {
    background-color: #f3f3f3;
    font-family: Helvetica, sans-serif;
}

h1 {
    text-decoration: underline;
}

h4 {
    text-decoration: underline;
}

img{
    width: 480px;
    height: auto;
    border:5px solid black;
}

a {
    color: rgb(0, 0, 94);
}

a:hover {
    color:white;
    background-color: gray;
}